# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMakeLists user
CMakeLists.txt.user

# Images

# Visual Studio files
.vs
chess/x64/Debug
chess/images
chess/sounds
chess_test/x64/Debug
chess_test/images
chess_test/sounds

# QT files
build-src-MyKit-Debug